<div id="landing">
  <div class="container">
    <h2>Login</h2>
    <a [routerLink]="['signup']">Dont have an account? Sign Up!</a>
    <div class="row">
			<div *ngIf="error" class="error"><span class="error-message">{{error}}</span></div>
      <form [formGroup]="form">
        <div class="input-field">
          <input formControlName="user" id="username" class="validate" type="text">
          <label for="username">username </label>
        </div>
        <div class="input-field">
          <input formControlName="password" id="password" class="validate" type="password">
          <label for="password">password</label>
        </div>
			</form>
			<button class="btn btn-waves" (click)="login()">Login</button>
    </div>
  </div>
</div>
