<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="row">
        <img src="./assets/img/PP.jpg" alt="profile Image" class="circle responsive-img">
        <span class="user">username goes here</span>
        <img class="post-image responsive-img " src="./assets/img/view.jpeg" alt="">
      </div>
      <span class="likes-counter"># of likes</span> <br>
      <ul>
        <li><button class="btn btn-waves">like</button></li>
        <li><button class="btn btn-waves">comment</button></li>
      </ul><br>
      <ul class="comments">
        <li class="collection-item avatar">
          <div class="comment">
            <img id="comment-user" src="./assets/img/PP.jpg" alt="profile Image" class="circle responsive-img">
            <span class="comment-text">profile Name</span>
            <p class="comment-reply">Comments</p>
          </div>
        </li>
      </ul>
      <div class="comment-section row col s 12">
          <img id="add-comment-img" src="./assets/img/PP.jpg" alt="profile Image" class="circle responsive-img">
          <textarea id="reply" class="col s 6" class="materialize-textarea" placeholder="comment"></textarea>
          <button id="add-comment-button" class="btn btn-waves">Submit</button>
      </div>
    </div>
  </div>
</div>
